.idea
db.sqlite3
/env
/media
/instagram/secret.pyc
/instagram/__init__.pyc
/instagram/settings.pyc
/instagram/urls.pyc
/instagram/wsgi.pyc
/loginsys/__init__.pyc
/loginsys/admin.pyc
/loginsys/forms.pyc
/loginsys/models.pyc
/loginsys/urls.pyc
/loginsys/views.pyc
/post/__init__.pyc
/post/admin.pyc
/post/forms.pyc
/post/models.pyc
/post/urls.pyc
/post/views.pyc
/social/__init__.pyc
/social/admin.pyc
/social/models.pyc
/social/views.pyc
