{% load staticfiles %}
<!DOCTYPE>
<html>
<head>
	<title>Mini-Instagram</title>
	<link rel="stylesheet" type="text/css" href='{% static "css/foundation.css" %}'>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="top-bar">
	<section class="right">
		{% if username %}
            <li><a href="/profile/me/">Профиль</a></li>
			<li><a href="/auth/logout/">Выйти ({{ username }})</a></li>
		{% else %}
			<li><a href="/auth/login/">Войти</a></li>
		{% endif %}
	</section>
</div>

<h1 class="header"><a href="/">Mini-Instagram</a></h1>
<div class="row">
	{% block posts %}{% endblock %}
    {% block login %}{% endblock %}
    {% block avatar %}{% endblock %}
</div>
</body>
</html>