{% extends "post/base.html" %}
{% load staticfiles %}

{% block posts %}
    {% if user.is_authenticated %}
        <h2><a href="/">Создать пост</a></h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Сохранить</button>
        </form>
    {% else %}
         <a href="{% url 'login' %}">Войдите в систему или зарегистрируйтесь, чтобы создавать посты</a>
    {% endif %}
{% endblock %}