{% extends "post/base.html" %}
{% load staticfiles %}

{% block posts %}
    <hr/>
    {% if user.is_authenticated %}
		<a href="{% url 'new_post' %}"><input type="button" class="button" value="Создать пост"></a>
	{% else %}
		<a href="{% url 'login' %}">Войдите в систему, чтобы создавать посты</a>
	{% endif %}
     <hr/>
	{% for post in posts %}
        <h5>Создал: <a href="{% url 'user_profile' user_name=post.author %}">{{ post.author }}</a></h5>
		<h6>Дата публикации: {{ post.date }}</h6>
		<h4><a href="{% url 'post' post_id=post.id %}">{{ post.title }}</a></h4>

        {% if post.image %}
            <a href="{% url 'post' post_id=post.id %}"><img src="{{ post.image.url }}" width="720px" height="360px"></a>
        {% endif %}

        <p>{{ post.post_text }}</p>
		<p><a href="{% url 'like' post_id=post.id %}"><img src="{% static "images/like.png" %}" width="25px" height="25px"></img>
            {{ post.like_set.count }}
        </a></p>
		<hr/>
	{% endfor %}

{% endblock %}