{% extends 'post/base.html' %}
{% load staticfiles %}

{% block posts %}
    <h5>Создал: {{ post.author }}</h5>
	<h6>Дата публикации: {{ post.date }}</h6>
	<h4>{{ post.title }}</h4>
    {% if post.image %}
        <img src="{{ post.image.url }}" width="720px" height="360px">
    {% endif %}
	<p>{{ post.text }}</p>
	<p><a href="/post/like/{{ post.id }}/"><img src='{% static "images/like.png" %}' width="25px" height="25px"></img>{{ post.like_set.count }}</a></p>
	<p>Комментарии:</p>
	<hr/>
	{% for comment in comments %}
		<p>{{ comment.comment }}</p>
		<p><a href="/{{ comment.author }}/profile/">

        {% for ava in avatar %}
            {% if ava.user_id == comment.author.id %}
                <img class="avatar" src="{{ ava.photo.url }}">
            {% endif %}
        {% endfor %}

            {{ comment.author }}
            {{ comment.date }}
        </a></p>
		<hr/>
	{% endfor %}

	{% if user.is_authenticated %}
		<form action="/post/comment/{{ post.id }}/" method="post">
			{% csrf_token %}
			{{ form }}
			<input type="submit" class="button" value="Добавить комментарий">
		</form>
	{% else %}
		<a href="/auth/login/">Войдите в систему, чтобы оставлять комментарии</a>
	{% endif %}
{% endblock %}