{% extends 'post/base.html' %}
{% load staticfiles %}

{% block posts %}
    <h5>Создал: {{ post.author }}</h5>
	<h6>Дата публикации: {{ post.date }}</h6>
	<h4>{{ post.title }}</h4>
    {% if post.image %}
        <img src="{{ post.image.url }}" width="720px" height="360px">
    {% endif %}
	<p>{{ post.text }}</p>
	<p><a href="{% url 'like' post_id=post.id %}"><img src="{% static "images/like.png" %}" width="25px" height="25px"></img>{{ post.likes.count }}</a></p>
	<p>Комментарии:</p>
	<hr/>
	{% for comment in comments %}
		<p>{{ comment.comment }}</p>
		<p><a href="{% url 'user_profile' user_name=post.author %}">

        {% for ava in commentator_avatars %}
            {% if ava.user_id == comment.author.id %}
                <img class="avatar" src="{{ ava.photo.url }}">
            {% endif %}
        {% endfor %}

            {{ comment.author }}
            {{ comment.date }}
        </a></p>
		<hr/>
	{% endfor %}

	{% if user.is_authenticated %}
		<form action="{% url 'comment' post_id=post.id %}" method="post">
			{% csrf_token %}
			{{ form }}
			<input type="submit" class="button" value="Отправить">
		</form>
	{% else %}
		<a href="{% url 'login' %}">Войдите в систему, чтобы оставлять комментарии</a>
	{% endif %}
{% endblock %}