{% extends "post/base.html" %}
{% load staticfiles %}

{% block login %}
    <p>LOGIN: {{ user_profile.username  }}</p>
    <img src="{{ profile.photo.url }}" width="250px" height="250px"><br/>
    <hr/>

    {% for post in posts %}
        <h6>Дата публикации: {{ post.date }}</h6>
        <h4><a href="{% url 'post' post_id=post.id %}">{{ post.title }}</a></h4>
        {% if post.image %}
            <img src="{{ post.image.url }}" width="720px" height="360px">
        {% endif %}
        <p>{{ post.text }}</p>
        <p><a href="{% url 'like' post_id=post.id %}"><img src="{% static "images/like.png" %}" width="25px" height="25px">
            {{ post.likes.count }}
        </a></p>
        <hr/>
    {% endfor %}
{% endblock %}